@model TrungTamAnhNgu.Web.ViewModels.TeacherViewModel
@{
    ViewData["Title"] = "Tạo mới Giáo viên";
}

<h1>@ViewData["Title"]</h1>
<h4>Giáo viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvatarUrl" class="control-label"></label>
                <input asp-for="AvatarUrl" class="form-control" />
                <span asp-validation-for="AvatarUrl" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay lại Danh sách</a>
            </div>
        </form>
    </div>
</div>